
@{
    ViewData["Title"] = "Mantenimientos";
}

    <div class="container">
        <div class="row">
            <div class="col">
                <a class="nav-link text-dark" asp-area="" asp-controller="Clientes" asp-action="Index">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-center">Clientes</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="nav-link text-dark" asp-area="" asp-controller="Empleados" asp-action="Index">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-center">Empleados</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="nav-link text-dark" asp-area="" asp-controller="Rentas" asp-action="Index">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-center">Rentas</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        @* -------------------------------------- *@

        <div class="row">
            <div class="col">
                <a class="nav-link text-dark" asp-area="" asp-controller="Inspecciones" asp-action="Index">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-center">Inspecciones</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="nav-link text-dark" asp-area="" asp-controller="Marcas" asp-action="Index">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-center">Marcas</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="nav-link text-dark" asp-area="" asp-controller="Modelos" asp-action="Index">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-center">Modelos</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        @* -------------------------------------- *@


        <div class="row">
            <div class="col">
                <a class="nav-link text-dark" asp-area="" asp-controller="Vehiculos" asp-action="Index">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-center">Vehiculos</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="nav-link text-dark" asp-area="" asp-controller="TipoVehiculos" asp-action="Index">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-center">Tipo Vehiculos</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="nav-link text-dark" asp-area="" asp-controller="TipoCombustibles" asp-action="Index">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-center">Tipo Combustibles</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>